* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .loginContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lobster', cursive;
} 

input, button {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 36px;
}

/* login */
.loginInner {
  padding: 50px;
  border: 1px solid #EFEFEF;

}

.logo {
  font-size: 65px; 
  margin-bottom: 40px;
}

#userInfo, #userPw{
  padding: 20px 16px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #EFEFEF;
  background-color:#FAFAFA;
}

#userPw {
  margin-bottom: 20px;
}

#inputButton {
  display: block;
  margin-bottom: 100px;
  text-align: center;
  font-size: 20px;
  color: #ffff;
  background-color: #0095f6;
  border: none;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 200ms ease-in;
  cursor: pointer;
}

#inputButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.notice {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: none;
  color: navy;
}
